# WARNING: KEEP THE ORDER AND NO SPACE BEFORE BOOTLOADER_xxx PARAMETERS

# For the BOOTLOADER module you have to give the following information:

# BOOTLOADER_VERSION <version> (version required)

# BOOTLOADER_FILE_PATH <path> (relative directory path where to load the bootloader source)

# BOOTLOADER_ARCHIVE_PATH <path> (URL used to load containing)
# or
# BOOTLOADER_GIT_PATH <path> (GIT URL used to clone containing)

# If specific commit required (optional, only valid for GIT and not ARCHIVE load)
# BOOTLOADER_GIT_SHA1 <sha1> (GIT SHA1 required - if not defined the BOOTLOADER_VERSION set is used)

# If additional patches are required (optional)
# BOOTLOADER_PATCH_1 <file name> (file name without .patch suffix)
# ...
# BOOTLOADER_PATCH_<n> <file name> (file name without .patch suffix)

BOOTLOADER_VERSION 2.10

BOOTLOADER_FILE_PATH device/stm/stm32mp2-bootloader/tf-a-stm32mp2

# By default, the archive is loaded
# BOOTLOADER_ARCHIVE_PATH https://github.com/ARM-software/arm-trusted-firmware

BOOTLOADER_GIT_PATH https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git

# lts-v2.10.24
BOOTLOADER_GIT_SHA1 a07367a19a09d3c6c426446dd408d7e522ac068b

BOOTLOADER_PATCH_1 0001-v2.10-stm32mp-r3-rc6.patch
BOOTLOADER_PATCH_2 0002-BSP-6.1-GIC-V2M-boot-issue-crash.patch
BOOTLOADER_PATCH_3 0003-trusty-updates-for-trusty-bL32-and-BL31.patch
BOOTLOADER_PATCH_4 0004-FPREGS_EL3_trap-workaround.patch
BOOTLOADER_PATCH_5 0005-trusty-BL32-OPTEE-image-specific-process-deleted.patch
BOOTLOADER_PATCH_6 0006-trusty-Automatic-arch32-64bit-detection-with-mmap_ad.patch
BOOTLOADER_PATCH_7 0007-tools-allow-to-use-a-root-key-password-from-command-.patch
