# WARNING: KEEP THE ORDER AND NO SPACE BEFORE BOOTLOADER_xxx PARAMETERS

# For the BOOTLOADER module you have to give the following information:

# BOOTLOADER_VERSION <version> (version required)

# BOOTLOADER_FILE_PATH <path> (relative directory path where to load the bootloader source)

# BOOTLOADER_ARCHIVE_PATH <path> (URL used to load archive)
# or
# BOOTLOADER_GIT_PATH <path> (GIT URL used to clone containing)

# If specific commit required (optional, only valid for GIT and not ARCHIVE load)
# BOOTLOADER_GIT_SHA1 <sha1> (GIT SHA1 required - if not defined the BOOTLOADER_VERSION set is used)

# If additional patches are required (optional)
# BOOTLOADER_PATCH_1 <file name> (file name with or without suffix)
# ...
# BOOTLOADER_PATCH_<n> <file name> (file name with or without suffix)

BOOTLOADER_VERSION 2020.01

BOOTLOADER_FILE_PATH device/stm/stm32mp1-bootloader/u-boot-stm32mp1
# By default, the archive is loaded
BOOTLOADER_ARCHIVE_PATH https://github.com/u-boot/u-boot
# BOOTLOADER_GIT_PATH https://github.com/u-boot/u-boot

BOOTLOADER_PATCH_1 0001-ARM-v2020.01-stm32mp-r1-MACHINE.patch
BOOTLOADER_PATCH_2 0002-ARM-v2020.01-stm32mp-r1-BOARD.patch
BOOTLOADER_PATCH_3 0003-ARM-v2020.01-stm32mp-r1-MISC-DRIVERS.patch
BOOTLOADER_PATCH_4 0004-ARM-v2020.01-stm32mp-r1-DEVICETREE.patch
BOOTLOADER_PATCH_5 0005-ARM-v2020.01-stm32mp-r1-CONFIG.patch
BOOTLOADER_PATCH_6 0006-ARM-v2020.01-stm32mp-r2-DEVICETREE.patch
BOOTLOADER_PATCH_7 0007-ARM-v2020.01-stm32mp-r2-MACHINE.patch
BOOTLOADER_PATCH_8 0008-ARM-v2020.01-stm32mp-r2-BOARD.patch
BOOTLOADER_PATCH_9 0009-ARM-v2020.01-stm32mp-r2-MISC-DRIVERS.patch
BOOTLOADER_PATCH_10 0010-ARM-v2020.01-stm32mp-r2-CONFIG.patch
BOOTLOADER_PATCH_11 0011-ARM-v2020.01-stm32mp-r2.1.patch
BOOTLOADER_PATCH_12 0051-ARM-v2020.01-stm32mp-r2-CONFIG-add-on-for-Android.patch
BOOTLOADER_PATCH_13 0053-fastboot-getvar-fix-partition-size-return-value.patch
