# WARNING: KEEP THE ORDER AND NO SPACE BEFORE BOOTLOADER_xxx PARAMETERS

# For the BOOTLOADER module you have to give the following information:

# BOOTLOADER_VERSION <version> (version required)

# BOOTLOADER_FILE_PATH <path> (relative directory path where to load the bootloader source)

# BOOTLOADER_ARCHIVE_PATH <path> (URL used to load archive)
# or
# BOOTLOADER_GIT_PATH <path> (GIT URL used to clone containing)

# If specific commit required (optional, only valid for GIT and not ARCHIVE load)
# BOOTLOADER_GIT_SHA1 <sha1> (GIT SHA1 required - if not defined the BOOTLOADER_VERSION set is used)

# If additional patches are required (optional)
# BOOTLOADER_PATCH_1 <file name> (file name without  suffix)
# ...
# BOOTLOADER_PATCH_<n> <file name> (file name without  suffix)

BOOTLOADER_VERSION 2018.11

BOOTLOADER_FILE_PATH device/stm/stm32mp1-bootloader/u-boot-stm32mp1
# By default, the archive is loaded
BOOTLOADER_ARCHIVE_PATH https://github.com/u-boot/u-boot
# BOOTLOADER_GIT_PATH https://github.com/u-boot/u-boot

BOOTLOADER_PATCH_1 0001-ARM-v2018.11-stm32mp-r1-MACHINE
BOOTLOADER_PATCH_2 0002-ARM-v2018.11-stm32mp-r1-BOARD
BOOTLOADER_PATCH_3 0003-ARM-v2018.11-stm32mp-r1-DEVICETREE
BOOTLOADER_PATCH_4 0004-ARM-v2018.11-stm32mp-r1-CONFIG
BOOTLOADER_PATCH_5 0005-ARM-v2018.11-stm32mp-r1-MISC
BOOTLOADER_PATCH_6 0006-ARM-v2018.11-stm32mp-r2-MACHINE
BOOTLOADER_PATCH_7 0007-ARM-v2018.11-stm32mp-r2-DEVICETREE
BOOTLOADER_PATCH_8 0008-ARM-v2018.11-stm32mp-r2-MISC
BOOTLOADER_PATCH_9 0009-ARM-v2018.11-stm32mp-r3-MACHINE
BOOTLOADER_PATCH_10 0010-ARM-v2018.11-stm32mp-r3-BOARD
BOOTLOADER_PATCH_11 0011-ARM-v2018.11-stm32mp-r3-DEVICETREE
BOOTLOADER_PATCH_12 0012-ARM-v2018.11-stm32mp-r3-CONFIG
BOOTLOADER_PATCH_13 0013-ARM-v2018.11-stm32mp-r3-MISC
BOOTLOADER_PATCH_14 0014-ARM-v2018.11-stm32mp-r4-MACHINE
BOOTLOADER_PATCH_15 0015-ARM-v2018.11-stm32mp-r4-BOARD
BOOTLOADER_PATCH_16 0016-ARM-v2018.11-stm32mp-r4-DEVICETREE
BOOTLOADER_PATCH_17 0017-ARM-v2018.11-stm32mp-r4-MISC
BOOTLOADER_PATCH_18 0020-stm32mp1-add-fastboot-boot-instance-variable
BOOTLOADER_PATCH_19 0021-Move-dtimg_addr-down-of-128-bytes-header-size-in-ord
BOOTLOADER_PATCH_20 0022-stm32mp1-add-fastboot-boot-mode-variable
BOOTLOADER_PATCH_21 0023-stm32mp1-update-kernel-cmdline-if-optee-is-set
BOOTLOADER_PATCH_22 0024-stm32mp1-enable-boot-command-for-Android
BOOTLOADER_PATCH_23 0025-stm32mp1-boot-with-ramdisk-integrated-in-boot-image
