# WARNING: KEEP THE ORDER AND NO SPACE BEFORE BOOTLOADER_xxx PARAMETERS

# For the BOOTLOADER module you have to give the following information:

# BOOTLOADER_VERSION <version> (version required)

# BOOTLOADER_FILE_PATH <path> (relative directory path where to load the bootloader source)

# BOOTLOADER_ARCHIVE_PATH <path> (URL used to load archive)
# or
# BOOTLOADER_GIT_PATH <path> (GIT URL used to clone containing)

# If specific commit required (optional, only valid for GIT and not ARCHIVE load)
# BOOTLOADER_GIT_SHA1 <sha1> (GIT SHA1 required - if not defined the BOOTLOADER_VERSION set is used)

# If additional patches are required (optional)
# BOOTLOADER_PATCH_1 <file name> (file name with or without suffix)
# ...
# BOOTLOADER_PATCH_<n> <file name> (file name with or without suffix)

BOOTLOADER_VERSION 2023.10

BOOTLOADER_FILE_PATH device/stm/stm32mp2-bootloader/u-boot-stm32mp2

# By default, the git is loaded
# BOOTLOADER_ARCHIVE_PATH https://github.com/u-boot/u-boot
BOOTLOADER_GIT_PATH https://github.com/u-boot/u-boot

# U-Boot selected by version
# BOOTLOADER_GIT_SHA1 4459ed60cb1e0562bc5b40405e2b4b9bbf766d57

BOOTLOADER_PATCH_1 0001-v2023.10-stm32mp-r3.1.patch
BOOTLOADER_PATCH_2 0002-v2023.10-stm32mp-adapt-config-to-ostdroid.patch
BOOTLOADER_PATCH_3 0003-v2023.10-stm32mp-adapt-board-init-for-Android.patch
BOOTLOADER_PATCH_4 0004-avb-Fix-alignment-warning-when-flushing-the-cache-af.patch
BOOTLOADER_PATCH_5 0005-android-dt-get-back-the-device-tree-index-based-on-b.patch
BOOTLOADER_PATCH_6 0006-fastboot-add-is-logical-variable-management.patch
BOOTLOADER_PATCH_7 0007-dts-use-bootloader-instead-of-fastoot-reboot-mode.patch
BOOTLOADER_PATCH_8 0008-configs-stm32-add-boot-command-for-Android.patch
BOOTLOADER_PATCH_9 0009-Correct-android-logs.patch
BOOTLOADER_PATCH_10 0010-boot-clarify-boot-traces.patch
BOOTLOADER_PATCH_11 0011-arm-mach-stm32mp-increase-default-ENV_SIZE-for-Andro.patch
BOOTLOADER_PATCH_12 0012-cmd-remove-copy-to-flash-detection-waiting-official-.patch
BOOTLOADER_PATCH_13 0013-MLK-18591-5-android-iot-Export-eMMC-RPMB-interface-f.patch
BOOTLOADER_PATCH_14 0014-trusty-add-trusty-ql-tipc-library.patch
BOOTLOADER_PATCH_15 0015-trusty-add-helloworld-interface.patch
BOOTLOADER_PATCH_16 0016-cmd-trusty-create-a-helloworld-command-to-test.patch
BOOTLOADER_PATCH_17 0017-trusty-enable-avb-with-trusty.patch
BOOTLOADER_PATCH_18 0018-fastboot-add-flashing-lock-unlock-command-with-trust.patch
BOOTLOADER_PATCH_19 0019-trusty-AVB-support-of-keymaster-TA-in-trusty.patch
BOOTLOADER_PATCH_20 0020-configs-enable-tee-and-avb.patch
BOOTLOADER_PATCH_21 0021-configs-stm32mp25-enable-boot-command-for-Android.patch
BOOTLOADER_PATCH_22 0022-AVB-add-CONFIG_TRUSTY_TA_AVB-y-and-CONFIG_TRUSTY_TA_.patch
BOOTLOADER_PATCH_23 0023-configs-stm32-remove-splash-screen-management.patch
BOOTLOADER_PATCH_24 0024-board-stm32mp2-disable-DSI-node-if-HDMI-not-detected.patch
BOOTLOADER_PATCH_25 0025-secure-watchdog-arm_smc_wdt-workaround-SMC-WDT-entit.patch
BOOTLOADER_PATCH_26 0026-trusty-ql-tipc-reduce-log-level.patch
BOOTLOADER_PATCH_27 0027-configs-stm32mp25-add-support-of-bootonce-bootloader.patch
