# For the BOOTLOADER build you have to give the following information:

# BOOTLOADER_PBL_SRC <path> (relative directory path where to the primary bootloader source has been loaded)
# BOOTLOADER_SBL_SRC <path> (relative directory path where to the secondary bootloader source has been loaded)

BOOTLOADER_PBL_SRC	device/stm/stm32mp2-bootloader/tf-a-stm32mp2
BOOTLOADER_SBL_SRC	device/stm/stm32mp2-bootloader/u-boot-stm32mp2
